@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --color-dark: #272a31;
  --color-coral: #ec5242;
  --text-coral: #f44c06;
  --color-white: #fff;
  --bg-gray: #d3d3d3;
  --text-gray: #909090;
  --text-darkgray: #565656;
}

.banner {
  min-height: 50vh;
  background-color: rgb(211, 211, 211, 0.8);
  background-size: cover;
}

.banner::before {
  content: "";
  background: url("images/Home-page.png");
  background-size: cover;
  width: 100%;
  opacity: 40%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 57vh;
  position: absolute;
  z-index: -1;
}

.bancontent {
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  padding: 2px;
}

.banmsg {
  margin: 20px;
  color: var(--text-coral);
}

.description {
  width: 80%;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: 10%;
  border-style: solid;
  border-color: var(--bg-gray);
  background-color: var(--color-white);
}

.acontactinfo {
  width: 60%;
  margin-left: 20%;
}

.bancontent h4 {
  font-weight: bold;
  font-family: "lato", sans-serif;
  text-decoration: underline;
}

.container {
  margin: 30px;
  display: flex;
  flex-direction: column;
}

.fheading {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
  font-family: "Lato", sans-serif;
  font-size: 22px;
}

.fdesc {
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  margin: 30px;
  padding: 20px;
}

.container img {
  width: 60%;
  border-style: solid;
  border-color: var(--bg-gray);
  justify-self: center;
  text-align: center;
  align-items: center;
  padding: 30px;
  margin-left: 20%;
}

.foologo {
  width: 20%;
}

hr {
  color: var(--bg-gray);
}

.workscontainer {
  font-family: "Lato", sans-serif;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-right: 30px;
}

.works {
  list-style-type: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.work {
  height: 100%;
  width: 85%;
  color: var(--color-white);
  margin: 15px;
}

.one {
  background-image: url(img/orange.jpg);
}

.two {
  background-image: url(img/phase.jpg);
}

.work h3 {
  padding: 30px;
  font-weight: bold;
  font-size: 22px;
  font-family: "lato", sans-serif;
}

.work p {
  padding: 20px;
}

.footer {
  background-color: white;
}

.footertext {
  color: black;
}

.section-title {
  position: relative;
}

.section-title::after {
  content: "";
  height: 1px;
  width: 30px;
  border-radius: 2px;
  background: #ec5242;
  transition: width 1s 5ms;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
